* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #242424;
    font-family: 'Ubuntu Mono', monospace;
    color: #fff;
    padding: 1em;
    cursor: text;
}

.path {
    color: #6aaf0f;
}

.input {
    display: flex;
}

.textarea {
    flex: 1;
    height: 1.5em;
    resize: none;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    margin-left: .5em;
    font-size: 14px;
}